<form class="{{cssClass}}" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="header-fields">
      <div class="charline">
        <h1 class="charname">
          <input
            name="name"
            type="text"
            value="{{actor.name}}"
            placeholder="{{localize 'SWADE.Name'}}"
          />
        </h1>
        {{#if actor.data.settingrules.conviction}}
        <div class="conviction">
          <a
            class="conviction-toggle {{#if data.details.conviction.active}}pulse{{/if}}"
            ><strong class=""
              >{{localize "SWADE.Conv"}}{{#if
              data.details.conviction.active}}&nbsp;Active{{/if}}</strong
            ></a
          >
          <div>
            <input
              type="text"
              name="data.details.conviction.value"
              value="{{data.details.conviction.value}}"
              data-dtype="Number"
              class="conviction-counter"
            />
          </div>
        </div>
        {{/if}}
      </div>
      <section class="header-stats">
        <div class="flexrow">
          <div class="form-group">
            <input
              id="race"
              name="data.details.species.name"
              type="text"
              value="{{data.details.species.name}}"
              data-dtype="String"
              placeholder="{{localize 'SWADE.Race'}}"
            />
          </div>
          <div class="form-group">
            <input
              name="data.advances.rank"
              id="rank-input"
              type="text"
              value="{{data.advances.rank}}"
              data-dtype="String"
              placeholder="{{localize 'SWADE.Rank'}}"
            />
          </div>
          <div class="form-group">
            <label for="xp-input">{{localize "SWADE.Adv"}}</label>
            <input
              name="data.advances.value"
              id="xp-input"
              type="text"
              value="{{data.advances.value}}"
              data-dtype="Number"
              placeholder="0"
            />
          </div>
        </div>
      </section>
    </div>
  </header>
  {{!-- Sheet Tab Navigation --}}
  <nav class="flexrow tabs" data-group="primary">
    <a class="item" data-tab="summary">{{localize "SWADE.Summary"}}</a>
    <a class="item" data-tab="edges">{{localize "SWADE.Edges"}}</a>
    <a class="item" data-tab="inventory">{{localize "SWADE.Inv"}}</a>
    {{#if hasArcaneBackground}}
    <a class="item" data-tab="powers">{{localize "SWADE.Pow"}}</a>
    {{/if}}
    <a class="item" data-tab="description">{{localize "SWADE.Desc"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <main class="sheet-body">
    {{!-- Summary Tab --}}
    <div class="tab active" data-group="primary" data-tab="summary">
      {{> "systems/swade/templates/actors/partials/summary-tab.html"}}
    </div>

    {{!-- Edges/Hindrances Tab --}}
    <div class="tab edges" data-group="primary" data-tab="edges">
      {{> "systems/swade/templates/actors/partials/edges-tab.html"}}
    </div>

    {{!-- Inventory Tab --}}
    <div class="tab inventory" data-group="primary" data-tab="inventory">
      {{> "systems/swade/templates/actors/partials/inventory-tab.html"}}
    </div>

    {{!-- Powers Tab --}} {{#if hasArcaneBackground}}
    <div class="tab powers" data-group="primary" data-tab="powers">
      {{> "systems/swade/templates/actors/partials/powers-tab.html"}}
    </div>
    {{/if}} {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{> "systems/swade/templates/actors/partials/biography-tab.html"}}
    </div>
  </main>
</form>
