<li class="gear-card item weapon" data-item-id="{{_id}}">
  <header class="card-header flexrow">
    <div class="item-image" style="background-image: url('{{img}}')"></div>
    <h4 class="item-name">{{name}}</h4>
    <div class="item-controls">
      <a class="item-control item-show"><i class="fas fa-eye"></i></a>
      {{#if owner}}
      <a class="item-control item-edit" title='{{localize "SWADE.Ed"}}'
        ><i class="fas fa-edit"></i
      ></a>
      <a class="item-control item-delete" title='{{localize "SWADE.Del"}}'
        ><i class="fas fa-trash"></i
      ></a>
      {{/if}}
    </div>
  </header>
  <div class="card-content collapsed" style="display: none;">
    {{#unless (isEmpty data.damage)}}
    <div>
      <a class="damage-roll" title="{{localize 'SWADE.Roll'}}"
        >{{localize "SWADE.Dmg"}}: {{data.damage}}</a
      >
    </div>
    {{/unless}} {{#unless (isEmpty data.range)}}
    <div>{{localize "SWADE.Rng"}}: {{data.range}}</div>
    {{/unless}} {{#unless (isEmpty data.shots)}}
    <div>{{localize "SWADE.Mag"}}: {{data.shots}}</div>
    {{/unless}} {{#if (gt data.rof 2)}}
    <div>{{localize "SWADE.RoF"}}: {{data.rof}}</div>
    {{/if}} {{#unless (eq data.ap 0)}}
    <div>{{localize "SWADE.Ap"}}: {{data.ap}}</div>
    {{/unless}} {{#unless (isEmpty data.notes)}}
    <div class="chips">
      <span>{{localize "SWADE.Notes"}}:&nbsp;</span>
      <div>{{enrich data.notes}}</div>
      <!-- <div class="chip">
                <span class="chip-content">HW</span>
            </div>  -->
    </div>
    {{/unless}}
  </div>
</li>
