<form class="{{cssClass}} flexcol" autocomplete="off">
  {{!-- Item Sheet Header --}} {{>
  "systems/swade/templates/items/partials/header.html"}}
  <main class="sheet-body flexrow">
    <section class="item-stats">
      <header class="header-field">
        <span>{{localize "SWADE.Details"}}</span>
      </header>
      <div class="form-group">
        <label class="check-container"
          >{{localize "SWADE.Equipped"}}
          <input
            type="checkbox"
            name="data.equipped"
            {{checked
            item.data.equipped}}
            data-dtype="Boolean"
          />
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="form-group">
        <label for="data.armor">{{localize "SWADE.Armor"}}</label>
        <span class="form-fields">
          <input
            name="data.armor"
            type="text"
            value="{{item.data.armor}}"
            placeholder="{{localize 'SWADE.Armor'}}"
            data-dtype="Number"
        /></span>
      </div>
      <div class="form-group">
        <label for="data.price">{{localize "SWADE.Price"}}</label>
        <span class="form-fields">
          <input
            name="data.price"
            type="text"
            value="{{item.data.price}}"
            placeholder="{{localize 'SWADE.Price'}}"
            data-dtype="Number"
        /></span>
      </div>
      <div class="form-group">
        <label for="data.weight">{{localize "SWADE.Weight"}}</label>
        <span class="form-fields">
          <input
            name="data.weight"
            type="text"
            value="{{item.data.weight}}"
            placeholder="{{localize 'SWADE.Weight'}}"
            data-dtype="Number"
        /></span>
      </div>
      <div class="form-group">
        <label for="data.quantity">{{localize "SWADE.Quantity"}}</label>
        <span class="form-fields">
          <input
            name="data.quantity"
            type="text"
            value="{{item.data.quantity}}"
            placeholder="{{localize 'SWADE.Quantity'}}"
            data-dtype="Number"
        /></span>
      </div>
      <div class="form-group">
        <label for="data.minStr">{{localize "SWADE.MinStrShort"}}</label>
        <span class="form-fields">
          <input
            name="data.minStr"
            type="text"
            value="{{item.data.minStr}}"
            placeholder="{{localize 'SWADE.MinStr'}}"
            data-dtype="String"
        /></span>
      </div>
      <div class="form-group">
        <label for="data.notes">{{localize "SWADE.Notes"}}</label>
        <span class="form-fields">
          <input
            type="text"
            name="data.notes"
            value="{{item.data.notes}}"
            placeholder="{{localize 'SWADE.Notes'}}"
            data-dtype="String"
        /></span>
      </div>
      <header class="header-field">
        {{localize "SWADE.HitLocations"}}
      </header>
      <div>
        <div class="flexrow">
          <div class="form-group">
            <label class="check-container"
              >{{localize "SWADE.Head"}}
              <input
                type="checkbox"
                name="data.locations.head"
                {{checked
                item.data.locations.head}}
                data-dtype="Boolean"
              />
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="form-group">
            <label class="check-container"
              >{{localize "SWADE.Torso"}}
              <input
                type="checkbox"
                name="data.locations.torso"
                {{checked
                item.data.locations.torso}}
                data-dtype="Boolean"
              />
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
        <div class="flexrow">
          <div class="form-group">
            <label class="check-container"
              >{{localize "SWADE.Arms"}}
              <input
                type="checkbox"
                name="data.locations.arms"
                {{checked
                item.data.locations.arms}}
                data-dtype="Boolean"
              />
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="form-group">
            <label class="check-container"
              >{{localize "SWADE.Legs"}}
              <input
                type="checkbox"
                name="data.locations.legs"
                {{checked
                item.data.locations.legs}}
                data-dtype="Boolean"
              />
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
      </div>
    </section>
    <section>
      {{> "systems/swade/templates/setting-fields.html"}} {{>
      "systems/swade/templates/items/partials/description.html"}}
    </section>
  </main>
</form>
