<form class="{{cssClass}} flexcol" autocomplete="off">
  {{!-- Item Sheet Header --}} {{>
  "systems/swade/templates/items/partials/header.html"}}
  <main class="sheet-body flexrow">
    <section class="item-stats">
      <header class="header-field">
        <span>{{localize "SWADE.Details"}}</span>
      </header>
      <div class="form-group">
        <label class="check-container"
          >{{localize "SWADE.Equippable"}}
          <input
            type="checkbox"
            name="data.equippable"
            {{checked
            item.data.equippable}}
            data-dtype="Boolean"
          />
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="form-group">
        <label class="check-container"
          >{{localize "SWADE.VehicleMod"}}
          <input
            type="checkbox"
            name="data.isVehicular"
            {{checked
            item.data.isVehicular}}
            data-dtype="Boolean"
          />
          <span class="checkmark"></span>
        </label>
      </div>
      {{#if (canBeEquipped item)}}
      <div class="form-group">
        <label class="check-container"
          >{{localize "SWADE.Equipped"}}
          <input
            type="checkbox"
            name="data.equipped"
            {{checked
            item.data.equipped}}
            data-dtype="Boolean"
          />
          <span class="checkmark"></span>
        </label>
      </div>
      {{/if}}
      <div class="form-group">
        <label for="data.price">{{localize "SWADE.Price"}}</label>
        <span class="form-fields">
          <input
            name="data.price"
            type="text"
            value="{{item.data.price}}"
            placeholder="{{localize 'SWADE.Price'}}"
            data-dtype="Number"
        /></span>
      </div>
      <div class="form-group">
        <label for="data.weight">{{localize "SWADE.Weight"}}</label>
        <span class="form-fields">
          <input
            name="data.weight"
            type="text"
            value="{{item.data.weight}}"
            placeholder="{{localize 'SWADE.Weight'}}"
            data-dtype="Number"
        /></span>
      </div>
      <div class="form-group">
        <label for="data.quantity">{{localize "SWADE.Quantity"}}</label>
        <span class="form-fields">
          <input
            name="data.quantity"
            type="text"
            value="{{item.data.quantity}}"
            placeholder="{{localize 'SWADE.Quantity'}}"
            data-dtype="Number"
        /></span>
      </div>
      {{#if item.data.isVehicular}} {{#if settingrules.modSlots}}
      <div class="form-group">
        <label for="data.mods">{{localize "SWADE.ModSlots"}}</label>
        <span class="form-fields">
          <input
            name="data.mods"
            type="text"
            value="{{item.data.mods}}"
            placeholder="{{localize 'SWADE.ModSlots'}}"
            data-dtype="Number"
        /></span>
      </div>
      {{/if}} {{/if}}
    </section>
    <section>
      {{> "systems/swade/templates/setting-fields.html"}} {{>
      "systems/swade/templates/items/partials/description.html"}}
    </section>
  </main>
</form>
